<html>
    <head>
        <title>
            간단한 비랑 눈
        </title>
        <link rel="stylesheet" type="text/css" href="/public/rainsnow.css" >
        <scrip src="/public/scripts/weather.js">
    </head>    
<body>
    <canvas id="weather" class="rain"></canvas>
    <button id="toggle-weather" class="btn">Toggle Weather</button>
    <button id="rainShaft" class="btn">rainShaft!</button>
    <button id="normal" class="btn">normal</button>
    <button id="reset" class="btn">reset</button>
</body>
<script  type="module">

new weatherEffect();
import weatherEffect from '/public/scripts/weather.js'

document.addEventListener("DOMContentLoaded", function(){

  new weatherEffect();

});


</script>
</html>
